{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0" id="password-checker">
        <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Sign Up</h2>
        <form method="post" @submit.prevent="checkPasswords">
            {% csrf_token %}
            <div class="relative mb-4">
                <label for="{{ form.email.id_for_label }}" class="leading-7 text-sm text-gray-600">Email</label>
                <input type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}"
                       placeholder="enter your email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                       class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="{{ form.first_name.id_for_label }}" class="leading-7 text-sm text-gray-600">Name</label>
                <input type="text" id="{{ form.first_name.id_for_label }}" name="{{ form.first_name.html_name }}"
                       placeholder="enter your first name" required
                       class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="{{ form.last_name.id_for_label }}" class="leading-7 text-sm text-gray-600">Surname</label>
                <input type="text" id="{{ form.last_name.id_for_label }}" name="{{ form.last_name.html_name }}"
                       placeholder="enter your last name" required
                       class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="{{ form.contact.id_for_label }}" class="leading-7 text-sm text-gray-600">Cell Phone
                    Number</label>
                <input type="text" id="{{ form.contact.id_for_label }}" name="{{ form.contact.html_name }}"
                       placeholder="enter your cell phone number" required
                       class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>

            <div class="relative mb-4">
                <label for="{{ form.password1.id_for_label }}" class="leading-7 text-sm text-gray-600">Password</label>
                <input type="password" id="{{ form.password1.id_for_label }}"
                       v-model="password" name="{{ form.password1.html_name }}"
                       placeholder="enter your password"
                       class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div class="relative mb-4">
                <label for="{{ form.password2.id_for_label }}" class="leading-7 text-sm text-gray-600">Confirm
                    Password</label>
                <input type="password" id="{{ form.password2.id_for_label }}"
                       v-model="confirmPassword" name="{{ form.password2.html_name }}"
                       placeholder="enter your password"
                       class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
            <div v-if="passwordsDontMatch" style="color: red;">
                Passwords do not match!
            </div>
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.email.errors }}
                </div>
            {% endif %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                    type="submit">
                Sign Up
            </button>

        </form>
        <p class="text-gray-500 mt-3">Already have an account ? <a href="{% url 'login' %}">Login Here</a>
        </p>
    </div>

    <script {% static 'js/password_checker.js' %}></script>


{% endblock %}
